/Library
/Temp
/UnityVS.UIFrameWork.CSharp.csproj
/UnityVS.UIFrameWork.CSharp.Editor.csproj
/UnityVS.UIFrameWork.CSharp.Plugins.csproj
/UnityVS.UIFrameWork.sln
/Assets/UnityVS.meta
/Assets/UnityVS/Editor.meta
/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
/.vs
/UnityVS.UIFrameWork.v12.suo
