/Library
/Temp
/UnityVS.UIFrameWork.CSharp.csproj
/UnityVS.UIFrameWork.CSharp.Editor.csproj
/UnityVS.UIFrameWork.CSharp.Plugins.csproj
/UnityVS.UIFrameWork.sln
/Assets/UnityVS.meta
/Assets/UnityVS/Editor.meta
/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
/.vs
/UnityVS.UIFrameWork.v12.suo

/.vscode/
/Assembly-CSharp-Editor-firstpass-vs.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/Assets/PlugIns/Editor.meta
/Assets/PlugIns/Editor/
/UIFrameWork-csharp.sln
/UIFrameWork.sln
/UIFrameWork.userprefs
/obj/
/UIFrameWork.Editor.Plugins.csproj
/UIFrameWork.Editor.csproj
/UIFrameWork.Plugins.csproj
/UIFrameWork.csproj
